* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

input[type="radio"] {
  display: none;
}

body {
  background: darkgray;
}

.container {
  width: 580px;
  height: 500px;
  margin: 60px auto 0;
  border: solid 7px #000000;
  background-color: #9e9e9e;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.meme-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#meme-image-1 {
  background-image: url(./images/meme1.jpeg);
  background-repeat: no-repeat;
}

#meme-image-2 {
  background-image: url(./images/meme2.jpeg);
  background-repeat: no-repeat;
}

#meme-image-3 {
  background-image: url(./images/meme3.jpeg);
  background-repeat: no-repeat;
}

#meme-image-4 {
  background-image: url(./images/meme4.jpeg);
  background-repeat: no-repeat;
}

.desc {
  position: absolute;
  z-index: -1;
  font-weight: 700;
  font-size: 22px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0;
  background: darkgray;
}

#controls {
  text-align: center;
}

.control {
  display: inline-block;
  border-radius: 100%;
  background-color: #000000;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  transition: 0.5s;
}

.control:hover {
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

#meme1:checked ~ .slider #meme-image-1,
#meme2:checked ~ .slider #meme-image-2,
#meme3:checked ~ .slider #meme-image-3,
#meme4:checked ~ .slider #meme-image-4 {
  z-index: 1;
  animation: slide 0.5s ease;
}

#meme1:checked ~ .navigation .descriptions .desc-1,
#meme2:checked ~ .navigation .descriptions .desc-2,
#meme3:checked ~ .navigation .descriptions .desc-3,
#meme4:checked ~ .navigation .descriptions .desc-4 {
  z-index: 1;
  animation: slide 1s ease;
}

#meme1:checked ~ .navigation #controls #control1,
#meme2:checked ~ .navigation #controls #control2,
#meme3:checked ~ .navigation #controls #control3,
#meme4:checked ~ .navigation #controls #control4 {
  background-color: #ffffff;
}

@keyframes slide {
  from { opacity: 0.3; }
  to { opacity: 1; }
}
